@use '../base' as v;

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 3;
  // backdrop-filter: blur(20px);
  // -webkit-backdrop-filter: blur(20px);

  @media only screen and (max-width: 600px) {
    flex-direction: column;
  }
}

// nav

nav {
  display: flex;
  width: 100%;
  padding: 0 15% 0 5%;
  align-items: center;
  justify-content: space-between;
  height: var(--logo-height);
  opacity: 0;

  @media only screen and (max-width: 600px) {
    padding: 0 30px;
    width: auto;
  }

  @media only screen and (max-width: 300px) {
    padding: 0 10px;
    width: auto;
  }

  & .nav_item {
    cursor: pointer;
  }
}

.navScroll {
  animation: navScroll v.$anim-timing;
}

@keyframes navScroll {
  to {
    opacity: 1;
  }
}

// logo

.gigiLogo {
  width: var(--logo--width);
  height: var(--logo-height);
  padding-left: 20px;
  transform: translate(42vw, 40vh) scale(6);
}

.logoScroll {
  animation: logoScroll 1.5s ease-in-out forwards;
}

@keyframes logoScroll {
  to {
    transform: translate(0, 0) scale(1);
  }
}

// flower

.flower {
  z-index: 4;
  opacity: .5;
  position: fixed;
  top: var(--logo-height);
  height: 100vh;
  fill: transparent;
  stroke: var(--main-color);
  stroke-opacity: .5;
  stroke-width: 1;
  stroke-dasharray: 11000;
  stroke-dashoffset: 11000;

  &.left {
    top: 0;
    left: -12%;
  }

  &.right {
    top: 0;
    right: -12%;
  }

  @media only screen and (max-width: 1200px) {
    display: none;
  }
}

.flowerScroll {
  animation: svgStroke v.$anim-timing;
}


@keyframes svgStroke {
  50% {
    fill: transparent;
  }

  80% {
    stroke-width: 1;
  }

  to {
    fill: var(--main-color);
    stroke-width: 0;
    stroke-dashoffset: 0;
  }
}