@use '../base' as v;

nav {
  display: flex;
  width: 80%;
  margin: 0 15%;
  justify-content: space-between;
  height: var(--logo-height);
}

h2 {
  font-size: 2.5rem;
}

header {
  display: flex;
  position: sticky;
  top: 0;
}

.gigiLogo {
  display: inline-block;
  width: var(--logo--width);
  height: var(--logo-height);
  padding-left: 20px;
}


.flower {
  position: sticky;
  top: var(--logo-height);
  height: 840px;

  &.left {
    left: 0;
  }

  &.right {
    left: 100%;
  }
}